@import "~bootstrap/scss/bootstrap";
@import "~react-input-range/src/scss/index";
@import '~react-toastify/scss/main';

body {
    background: $dark;
}

// .g.c3-axis {
//     fill: white !important;
// }

.chartLegend {
    fill: $light !important;
}

// .c3 path, .c3 line {
//     stroke: $secondary;
// }

.dropZone {
    border: 5px dashed $info;
    width:  200px;
  }

.tableFixHead          { overflow-y: auto; height: 350px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }

.input-range__slider {
    background-color: $info;
    border-color: $info;
}

.input-range__track--active {
    background: $info;
}